@using BudgetTracker.ViewModels
@using BudgetTracker.Controllers
@using BudgetTracker.Enums
@model BudgetDetailsViewModel;

@{
    ViewData["Title"] = "Budgets Page";
}

<div class="container">
        <h3>Choose the date:</h3>
        <form asp-controller="budgets" asp-action="GetIncomesAndExpensesByDate" method="post" asp-route-budgetId="@Model.Budget.BudgetId">
        <div class="row">
            <div class="form-group col-md-2">
                <input class="form-control" type="text" asp-for="DateViewModel.Year" class="form-control" />
                <span asp-validation-for="DateViewModel.Year" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <select asp-for="DateViewModel.Month" asp-items="Html.GetEnumSelectList<Months>()" class="form-control"></select>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <br />

    <div class="row">
        <div class="col">
            <h3>Incomes</h3>
            @if (Model.Incomes.Count < 1 || Model.Incomes == null)
            {
                <p>No incomes have been tracked yet.</p>

                <table class="table table-light w-auto small" id="incomeTable">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th></th>
                    </tr>

                    <form method="post" asp-controller="incomes" asp-action="CreateIncome" class="custom-form">
                        <partial name="_TransactionForm"
                                 model="@new BudgetDetailsViewModel { Budget = Model.Budget, DateViewModel = Model.DateViewModel, Categories = Model.Categories, IsIncome = true}" />
                    </form>
                </table>
            }
            else
            {
                <table class="table table-light w-auto small" id="incomeTable">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th></th>
                    </tr>

                    <partial name="_TransactionTable" model="@new BudgetDetailsViewModel{Incomes = Model.Incomes, Categories = Model.Categories, DateViewModel = Model.DateViewModel, IsIncome = true}" />
                    

                    <form method="post" asp-controller="incomes" asp-action="CreateIncome" class="custom-form">
                        <partial name="_TransactionForm" 
                            model="@new BudgetDetailsViewModel { Budget = Model.Budget, DateViewModel = Model.DateViewModel, Categories = Model.Categories, IsIncome = true}" />
                    </form>
                </table>
            }            
    </div>

    <div class="col">
        <h3>Expenses</h3>
        @if(Model.Expenses.Count < 1)
            {
                <p>No expenses have been tracked yet.</p>

                <table class="table table-light w-auto small">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th></th>
                    </tr>

                    <form method="post" asp-controller="expenses" asp-action="CreateExpense" class="custom-form">
                        <partial name="_TransactionForm"
                                 model="@new BudgetDetailsViewModel { Budget = Model.Budget, DateViewModel = Model.DateViewModel, Categories = Model.Categories, IsIncome = false}" />
                    </form>
                </table>
            }
        else{
                <table class="table table-light w-auto small">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th></th>
                    </tr>

                    <partial name="_TransactionTable" model="@new BudgetDetailsViewModel{Expenses = Model.Expenses, Categories = Model.Categories, DateViewModel = Model.DateViewModel, IsIncome = false}" />

                    <form method="post" asp-controller="expenses" asp-action="CreateExpense" class="custom-form">
                        <partial name="_TransactionForm"
                                 model="@new BudgetDetailsViewModel { Budget = Model.Budget, DateViewModel = Model.DateViewModel, Categories = Model.Categories, IsIncome = false}" />
                    </form>
                </table>
        }
        </div>
    </div>
</div> 

<a class="btn btn-primary" asp-controller="graphs" asp-action="index" asp-route-budgetId="@Model.Budget.BudgetId" 
asp-route-year="@Model.DateViewModel.Year" asp-route-month="@Model.DateViewModel.Month">Overview</a>